<div class="container">
    <h1 class="heading text-center ">Contact</h1>
    <p class="para bp 44">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta dignissimos perferendis amet aperiam saepe
        corporis maiores pariatur tempore nesciunt facere veniam, rem consectetur ducimus alias necessitatibus numquam!
        Saepe necessitatibus temporibus aperiam quasi, tempore beatae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia placeat asperiores consectetur assumenda. Ad pariatur reprehenderit corporis hic harum. Sequi natus culpa, suscipit commodi molestias rerum consectetur alias, veritatis aut aspernatur rem, architecto quisquam!</p>
</div>
